In [6]:
import pandas as pd
import pickle

In [7]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)

#elements in week nums below represent our target data
#the four weeks of May 2018
week_nums = [180526, 180519, 180512, 180505]
may18_turnstiles = get_data(week_nums)

In [9]:
len(may18_turnstiles)

788764

In [18]:
#The odd space in the EXITS column heading will be dealt with
#in a subsequent script.
list(may18_turnstiles)

['C/A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DATE',
 'TIME',
 'DESC',
 'ENTRIES',
 'EXITS                                                               ']

In [19]:
may18_turnstiles.sort_values(['DATE','TIME']).head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,6598847,2235829
42,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,5915388,1323087
84,A002,R051,02-03-00,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,1068517,3979779
126,A002,R051,02-03-01,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,672839,1046012
168,A002,R051,02-03-02,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,5755532,7847369

In [20]:
#This is the code to create our first pickle.  
#It has been commented out so as to prevent writing a large file accidentally.
#This pickle will be refined into a more useful version in the next notebook.
#with open('may18_turnstiles.pickle', 'wb') as to_write:
#    pickle.dump(may18_turnstiles, to_write)