In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.max_rows = 25

FILE = r'data/May18_turnstiledata.csv'
df = pd.read_csv(FILE)

df.rename(columns={'EXITS                                                               ': 'EXITS'}, inplace=True)
df.drop('Unnamed: 0', axis=1, inplace = True)

In [62]:
deltas = df.groupby('STATION').diff()
deltas.head()

df['entry delta'] = deltas['ENTRIES']
df['exit delta'] = deltas['EXITS']

# drop outliers
df = df[df['entry delta'] > -1]
df = df[df['entry delta'] < 50000]
df = df[df['exit delta'] > -1]
df = df[df['exit delta'] < 50000]

df_deltas = df.groupby(['STATION', 'DATE', 'TIME'])[['entry delta', 'exit delta']].sum()

In [63]:
len(df_deltas[df_deltas['entry delta'] == 0])

6511

In [65]:

# # df_deltas['entry delta'] ==

# df_deltas[df_deltas['entry delta'].groupby('STATION').sum() == df_deltas.groupby('STATION').sum()['entry delta'].max()]

In [66]:
dfstat = df_deltas.groupby('STATION').sum()

dfstat[dfstat['entry delta'] == dfstat['entry delta'].max()]

                entry delta  exit delta
STATION
34 ST-PENN STA    1979343.0   1706500.0

In [67]:
df_deltas.groupby('STATION').sum()['entry delta'].max()

1979343.0

In [68]:
dfstat.sort_values('entry delta', ascending=False)

                 entry delta  exit delta
STATION
34 ST-PENN STA     1979343.0   1706500.0
GRD CNTRL-42 ST    1698187.0   1557830.0
23 ST              1381964.0    995866.0
34 ST-HERALD SQ    1362004.0   1249478.0
14 ST-UNION SQ     1325703.0   1151548.0
TIMES SQ-42 ST     1236272.0   1170353.0
FULTON ST          1160554.0    948827.0
42 ST-PORT AUTH    1111920.0    907777.0
86 ST              1043569.0    873420.0
125 ST              933524.0    755827.0
59 ST COLUMBUS      927469.0    765580.0
CANAL ST            909825.0    735898.0
...                      ...         ...
121 ST               15591.0      6596.0
AVENUE P             14771.0      1526.0
E 143/ST MARY'S      12974.0     14598.0
BEACH 36 ST          12023.0     12431.0
AQUEDUCT N.COND      11616.0     23547.0
BEACH 44 ST           9408.0      9964.0
BEACH 90 ST           7902.0      6345.0
AVENUE I              7068.0      2699.0
ROCKAWAY PARK B       6477.0      9462.0
BEACH 98 ST           4621.0      4653.0
BROAD CHANNEL         3390.0       731.0
BEACH 105 ST          2335.0      2805.0

[375 rows x 2 columns]